.body{
    background-image: url(./Images/IMG-20240428-WA0016.jpg);
    background-size: cover;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.links a{
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
   
}
.links a:hover{
    border-bottom: 1px solid aqua;
}
.links {

    text-align: right;
    width: 90%;
    padding: 20px;
}
.main{
    text-align: center;
    padding: 70px;

}
.main h1{
    font-size: 50px;
    text-transform: uppercase;
    
}
button{
    margin: 0% auto;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
    border: 1px solid aqua;
    text-transform: uppercase;
}
.butt{
    text-align: center;
}
button:hover{
    background-color: aqua;
    color: blue;
}
#one{
    text-decoration: none;
}